<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="ConnStr" value="server=192.168.13.202;database=shijia;uid=root;pwd=root!@#;port=3307;Charset=utf8"/>
		<add key="sql-c" value="select `wafer_code` 晶圆编号,`chip_code` 芯片编号, `C预计温度调节`,`中心波长`,`48CH工作通道`,`48CH工作波段`,`48CH_offset`,`48CH_BD_0.5`,`48CH_BD_1`,`48CH_BD_3`,`48CH_BD_20`,`48CH_IL`,`48CH_ripple`,`48CH_PDL`,`48CH_AX`,`48CH_NX`,`48CH_TX`,`40CH工作通道`,`40CH工作波段`,`40CH_offset`,`40CH_BD_0.5`,`40CH_BD_1`,`40CH_BD_3`,`40CH_BD_20`,`40CH_IL`,`40CH_PDL`,`40CH_ripple`,`40CH_AX`,`40CH_NX`,`40CH_TX` from `c` where CONCAT(`C预计温度调节`,`中心波长`,`48CH工作通道`,`48CH工作波段`,`48CH_offset`,`48CH_BD_0.5`,`48CH_BD_1`,`48CH_BD_3`,`48CH_BD_20`,`48CH_IL`,`48CH_ripple`,`48CH_PDL`,`48CH_AX`,`48CH_NX`,`48CH_TX`,`40CH工作通道`,`40CH工作波段`,`40CH_offset`,`40CH_BD_0.5`,`40CH_BD_1`,`40CH_BD_3`,`40CH_BD_20`,`40CH_IL`,`40CH_PDL`,`40CH_ripple`,`40CH_AX`,`40CH_NX`,`40CH_TX`)  like '%{0}%'"/>
		<add key="sql-c-ave-0.11" value="select `wafer_code` 晶圆编号,`chip_code` 芯片编号, `48CH工作通道`,`48CH工作波段`,`48CH_offset`,`48CH_BD_0.5`,`48CH_BD_1`,`48CH_BD_3`,`48CH_BD_20`,`48CH_IL`,`48CH_ripple`,`48CH_PDL`,`48CH_AX`,`48CH_NX`,`48CH_TX`,`40CH工作通道`,`40CH工作波段`,`40CH_offset`,`40CH_BD_0.5`,`40CH_BD_1`,`40CH_BD_3`,`40CH_BD_20`,`40CH_IL`,`40CH_PDL`,`40CH_ripple`,`40CH_AX`,`40CH_NX`,`40CH_TX` from `c-ave-0.11` where CONCAT(`48CH工作通道`,`48CH工作波段`,`48CH_offset`,`48CH_BD_0.5`,`48CH_BD_1`,`48CH_BD_3`,`48CH_BD_20`,`48CH_IL`,`48CH_ripple`,`48CH_PDL`,`48CH_AX`,`48CH_NX`,`48CH_TX`,`40CH工作通道`,`40CH工作波段`,`40CH_offset`,`40CH_BD_0.5`,`40CH_BD_1`,`40CH_BD_3`,`40CH_BD_20`,`40CH_IL`,`40CH_PDL`,`40CH_ripple`,`40CH_AX`,`40CH_NX`,`40CH_TX`)  like '%{0}%'"/>
		<add key="sql-c-ave-0.13" value="select `wafer_code` 晶圆编号,`chip_code` 芯片编号, `48CH工作通道`,`48CH工作波段`,`48CH_offset`,`48CH_BD_0.5`,`48CH_BD_1`,`48CH_BD_3`,`48CH_BD_20`,`48CH_IL`,`48CH_ripple`,`48CH_PDL`,`48CH_AX`,`48CH_NX`,`48CH_TX`,`40CH工作通道`,`40CH工作波段`,`40CH_offset`,`40CH_BD_0.5`,`40CH_BD_1`,`40CH_BD_3`,`40CH_BD_20`,`40CH_IL`,`40CH_PDL`,`40CH_ripple`,`40CH_AX`,`40CH_NX`,`40CH_TX` from `c-ave-0.13` where CONCAT(`48CH工作通道`,`48CH工作波段`,`48CH_offset`,`48CH_BD_0.5`,`48CH_BD_1`,`48CH_BD_3`,`48CH_BD_20`,`48CH_IL`,`48CH_ripple`,`48CH_PDL`,`48CH_AX`,`48CH_NX`,`48CH_TX`,`40CH工作通道`,`40CH工作波段`,`40CH_offset`,`40CH_BD_0.5`,`40CH_BD_1`,`40CH_BD_3`,`40CH_BD_20`,`40CH_IL`,`40CH_PDL`,`40CH_ripple`,`40CH_AX`,`40CH_NX`,`40CH_TX`)  like '%{0}%'"/>
		<add key="sql-h-ave-0.11" value="select `wafer_code` 晶圆编号,`chip_code` 芯片编号, `48CH工作通道`,`48CH工作波段`,`48CH_offset`,`48CH_BD_0.5`,`48CH_BD_1`,`48CH_BD_3`,`48CH_BD_20`,`48CH_IL`,`48CH_ripple`,`48CH_PDL`,`48CH_AX`,`48CH_NX`,`48CH_TX`,`40CH工作通道`,`40CH工作波段`,`40CH_offset`,`40CH_BD_0.5`,`40CH_BD_1`,`40CH_BD_3`,`40CH_BD_20`,`40CH_IL`,`40CH_PDL`,`40CH_ripple`,`40CH_AX`,`40CH_NX`,`40CH_TX` from `h-ave-0.11` where CONCAT(`48CH工作通道`,`48CH工作波段`,`48CH_offset`,`48CH_BD_0.5`,`48CH_BD_1`,`48CH_BD_3`,`48CH_BD_20`,`48CH_IL`,`48CH_ripple`,`48CH_PDL`,`48CH_AX`,`48CH_NX`,`48CH_TX`,`40CH工作通道`,`40CH工作波段`,`40CH_offset`,`40CH_BD_0.5`,`40CH_BD_1`,`40CH_BD_3`,`40CH_BD_20`,`40CH_IL`,`40CH_PDL`,`40CH_ripple`,`40CH_AX`,`40CH_NX`,`40CH_TX`)  like '%%'"/>
		<add key="sql-h-ave-0.13" value="select `wafer_code` 晶圆编号,`chip_code` 芯片编号, `48CH工作通道`,`48CH工作波段`,`48CH_offset`,`48CH_BD_0.5`,`48CH_BD_1`,`48CH_BD_3`,`48CH_BD_20`,`48CH_IL`,`48CH_ripple`,`48CH_PDL`,`48CH_AX`,`48CH_NX`,`48CH_TX`,`40CH工作通道`,`40CH工作波段`,`40CH_offset`,`40CH_BD_0.5`,`40CH_BD_1`,`40CH_BD_3`,`40CH_BD_20`,`40CH_IL`,`40CH_PDL`,`40CH_ripple`,`40CH_AX`,`40CH_NX`,`40CH_TX` from `h-ave-0.13` where CONCAT(`48CH工作通道`,`48CH工作波段`,`48CH_offset`,`48CH_BD_0.5`,`48CH_BD_1`,`48CH_BD_3`,`48CH_BD_20`,`48CH_IL`,`48CH_ripple`,`48CH_PDL`,`48CH_AX`,`48CH_NX`,`48CH_TX`,`40CH工作通道`,`40CH工作波段`,`40CH_offset`,`40CH_BD_0.5`,`40CH_BD_1`,`40CH_BD_3`,`40CH_BD_20`,`40CH_IL`,`40CH_PDL`,`40CH_ripple`,`40CH_AX`,`40CH_NX`,`40CH_TX`)  like '%{0}%'"/>



		<add key="arrayData" value="结构 C:3:sql-c,结构 C-ave-0.11:4:sql-c-ave-0.11,结构 C-ave-0.13:5:sql-c-ave-0.13,结构 H-ave-0.11:6:sql-h-ave-0.11,结构 H-ave-0.13:7:sql-h-ave-0.13"/>
		<add key="EPPlus:ExcelPackage.LicenseContext" value="NonCommercial" />
	</appSettings>
<startup>
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
</startup></configuration>
